body {
	font-family: source-sans-pro, "Grill Sans", Arial, sans-serif;
	background-color: #BEB6B6;
	

	webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	border: #6A5151 15px double;

}

h3{

color: black;
text-shadow: 2px 6px 8px #555;
}


	




hr{
	height: 3px;
	border: 0;
	color: #000000;
	background-color: #000000;
}





 


/*

My Custom CSS
=============



*/


/* --------------------------------------
   Layout   DISPOSICION
   -------------------------------------- */
/*historia primer bloquer*/
   #features-2 {
	text-align: center;
	background:  #8C6565;
	margin: 5px;
	 
	   
  border: black 3px solid;  
  border-radius: 20px;
  box-shadow: #171515 10px 10px 30px;  

  list-style: none;
	float: center;
	margin: -1px .2em 0em;

	/*background-color:#A59090; historia primer bloquer*/
	
}

#features {
	/*text-align: center;*/
	background: #9B9292;
	margin: 5px;
	 
	   
  border: black 3px solid;  /*Borde negro, borde redondo y sombra del bloque Bienvenidos hasta el boton subir*/
  border-radius: 20px;
  box-shadow: #171515 10px 10px 30px;  

  list-style: none;
	float: center;
	margin: -1px .2em 0em;
	/*background-color: #7E8082;*/   /*Color fondo bloque Bienvenidos hasta el boton subir*/
	
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;

}

footer {
	background: #A48181; 
	color: #eee;
	font-size: 11px;
	padding: 20px;

}




/* --------------------------------------
   Typography
   -------------------------------------- */
/* doble linea marco interior del cuerpo
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	border: #6A5151 15px double;
	
	
}*/

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 80px; /* Espacio de margén  entre cabezera y carrusel*/
	/*background-color: #7E8082; */
	border: #957A7A 3px solid;  /*Borde Carrusel, borde negro, borde redondo y sombra*/
   /*border-radius:20px;*/
   box-shadow: #171515 10px 10px 30px 0; 

}

.carousel-caption {
	font-size: 24px;
	color:black;
}

.carousel-caption h4 {
	font-size: 32px;
	color:white;
}

#myCarousel .item { height: 400px; 

}

/*#slide1 {
	background: url('../../imagenes/pareja_gargolas_0') top center no-repeat;

}

#slide2 {
	background: url('../../imagenes/pinaculos_catedral_0.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../imagenes/conjunto_gargolas.jpg')top center no-repeat;
}
*/

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 40px 0;
}

.thumbnail {
	position: relative;
	box-shadow: 10px 10px 10px 0 ;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	.thumbnail .price {
		font-size: 14px;
	}
	
	.thumbnail .price sup {
		font-size: 10px;
	}
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myCarousel .item { height: 400px; }
	
	#slide1 {
		background: url('../../imagenes/pareja_gargolas_0.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../imagenes/pinaculos_catedral_0.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../imagenes/conjunto_gargolas.jpg') top center no-repeat;
	}
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.carousel-caption h4 {
		font-size: 22px;
	}
	
}

/*  Ancho  y Alto caja del carrusel, a mayor px más grande y se ajusta las fotos grandes en su totalidad sin recortes
Large desktop */
@media (min-width: 1200px) 

{

	#myCarousel .item { height: 700px;

	 }
	
	#slide1 {
		background: url('../../imagenes/pareja_gargolas_0.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../imagenes/pinaculos_catedral_0.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../imagenes/conjunto_gargolas.jpg') top center no-repeat;
	}

}

.panel-heading{
/*background-color: #9F8383;*/

font-weight: 600;
font-size: 20px;
color:#050000;
padding-top:15px;
padding-bottom:15px;
padding-left:30px;
padding-right:30px;
background-color:#8C6565; /*color fondo cajetin gargolas de los lugares*/
border-color: #3A3232;
border-width: 3px;
border-style: solid;
box-shadow: 10px 10px 30px #666;
border-radius: 15px; 

}
 






  #boton-bonito {
text-decoration:none;
color:#534949;
padding:10px;
background-color:#806C6C;
font-size: 30px;



 list-style: none;
	float: center;
	margin: -1px .2em 0em;
	background-color:#7E7474; /* Color fondo boton bonito */

    box-shadow: 10px 10px 30px #666;          /* Sombra normal */
    box-shadow: 15px -15px 0 6px #444;        /* Sombra superior sin desenfoque */
    box-shadow: 8px 8px 15px #222 inset;    /* Sombra interior */
    border-radius: 10px;
}

#boton-bonito:hover {
background-color:#534E4E; 

}

.list-group{
	margin-right: 25px;
	text-align: justify;
    box-shadow: #171515 10px 10px 30px;
  
   

}

.panel{
	 box-shadow: #171515 10px 10px 30px;
	 border-radius: 15px;   
}
/*fondo sombra boton take course*/
.btn {
	 box-shadow: black 10px 10px 30px;  

}

    td img:hover{
  	-webkit-transform:scale(1.4);
  }


  .panel{
 	    background-color: #ccc;  

 }

 article {
  border: #666B6A 8px ridge;
  margin: 15px;
  padding: 10px;
  background-color: #B4A4A4;    <!-- #959090  Color fondo alternativo-->
  box-shadow: #171515 8px 8px 8px;
  border-radius: 15px; 
}

.sombra img {
   box-shadow: #635C5C 8px 8px 8px; 
}


  /*boton historia 3D*/


 .boton3d{
        border:0;
      color: #000000; /*color letras*/
        font-size: 30px; /*tamaño boton*/
        font-family:sans-serif;
        padding: 10px 20px; /*espacio interior del boton con las letras*/
      background: -moz-linear-gradient(center top , #000000  0%, #000000 100%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BCA4A4), color-stop(100%,#353333));/*color fondo del boton*/
      -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
      text-shadow: 1px 1px 1px #DAD8D1; /*COLOR SOMBRA LETRAS*/
      -moz-box-shadow: 0px 6px 0 #BABDC0;
        -webkit-box-shadow: 7px 7px 7px 0 black; /*color sombra exterior del boton*/

    }

 .boton3d:active{
    position:relative;
     top:3px;
    -moz-box-shadow:0px 3px 0 #000000;
    -webkit-box-shadow:0px 3px 0 #000000;
    background: -moz-linear-gradient(center top , #000000 0%, #000000 100%) repeat scroll 0 0 transparent;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BCA4A4), color-stop(100%,#BCA4A4)); /*Color fondo boton al presionarlo*/
    }

   /*fin boton*/



   .boton {
text-decoration: none;
 color: black; 
 font-weight: bold;
 padding: 12px 20px;
 font-size: 18px;
 border-radius: 10px;
 background-color: #666666;
 box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
 position: relative;
 border-bottom: 1px solid rgba(255,255,255,0.2);
 display: inline-block;
 font-family: Arial, Helvetica, sans;
 text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}
 
.boton:hover {
 box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
 color: #fff !important;
}
 
.boton:active {
 top: 7px;
 box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
 color: #fff !important;
}
 
.formaBoton {
 border-radius: 5px;
 padding-left: 25px;
 padding-right: 25px;
}
 
.colorRojo{
 background-color: #c34747;
 box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}
 
.colorRojo:hover {
 box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}
 
.colorRojon:active {
 box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
}

/*fin boton*/

/* no quitar, centra audio en historia*/
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center 
}

/*fin*/






   


  






   

  

























